name: Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build
        run: ./gradlew appframe:publishDesktopPublicationToKotlinWebsiteRepository -PBUILD_NUMBER=${{github.run_number}} -PkotlinWebsiteUsername=${{secrets.REPOSILITE_USER}} -PkotlinWebsitePassword=${{secrets.REPOSILITE_PASSWORD}} --no-daemon
